<div class="mensagem">
        
    <h4 class="nome">{{posts.nome}}</h4>
    <span class="fala">{{posts.fala}}</span>
    <br>

    <button type="button" class="btn btn-danger" aria-label="Left Align" (click)="clicou($event)">
        <span class="glyphicon glyphicon-heart" aria-hidden="true">{{posts.likes}}</span>
    </button>

    <button type="button" class="btn btn-xs btn-default" aria-label="Left Align" (click)="apagou(posts)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
</div> <br>