<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">TOPCHAT</a>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
              <a routerLink="/post" class="btn btn-info" type="button" style="margin:5px;">Linha do Tempo</a>
          </li>
          <li class="nav-item">
            <a routerLink="/postar" class="btn btn-info" type="button" style="margin:5px;">Postar</a>
          </li>
          <li class="nav-item">
                <a>Usuário</a>
          </li>
        </ul>
</nav>

