<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">TOPCHAT</a>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
              <button class="btn btn-outline-secondary" type="button" style="margin:5px;">Linha do Tempo</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-secondary" type="button" style="margin:5px;">Perfil</button>
          </li>
          <li class="nav-item">
                <a>Usuário</a>
          </li>
        </ul>
</nav>